.keyboard-container {
    margin: 50px auto;
    width: 500px;
    max-width: 95vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.key {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: #EC8F5E;
    color: #fff;
}

.key:hover {
    cursor: pointer;
    background-color: #9fbb73 !important;
    ;
}

.key[disabled] {
    background-color: #9fbb73 !important;
    ;
    cursor: not-allowed;
}